In [1]:
#Importing required libraries
import pandas as pd  #pandas for importing files and rearranging the data
import numpy as np
import seaborn as sb
from scipy import sparse #scipy for math functions
from sklearn.metrics.pairwise import cosine_similarity #sklearn for cosine similarity
import sys
import pickle
import matplotlib.pyplot as plt
import math
import seaborn as sns
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Su = pd.read_excel("output/outputSu.xlsx",  parse_dates=True)
Su

        0
0  0.0869
1  0.1304
2  0.0869
3  0.1739
4  0.0869

In [3]:
Si = pd.read_excel("output/outputSi.xlsx",  parse_dates=True)
Si

        0
0  0.0434
1  0.0434
2  0.0000
3  0.1304
4  0.2173

In [5]:
S=np.dot(Su.T,  Si)
S.shape

(1, 1)

In [6]:
pd.DataFrame(S).to_excel('output/outputS.xlsx', index=False)